

<div class="container">
  <h1>
    Create animation
  </h1>
  <%= simple_form_for @animation do |f| %>
    <%= f.input :title %>
    <%= f.input :format, collection: ['2560x1440', '2388x1668', '2640x19120', '2800x1980'], include_blank: false %>
    <%= f.submit %>
  <% end %>
</div>

