<div id="animation-data" data-frames="<%= @frames.to_json  %>" data-animationId="<%= @animation.id %>" data-background="<%= { content: @animation.background.base_64_content, id: @animation.background.id}.to_json() %>"
></div>
<div id="root">
</div>
