
.submenu{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid rgba(0,0,0,0.8);
  padding: 0px 10px;
}

.submenu-actions{
  display: flex;
  justify-content: space-between;
  align-items: center
}

.submenu-header{
  opacity: 0.7;
  font-size: 15px;
}

.submenu:first-child{
  border-left: none;
}

.submenu-el{
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #333333;
}

.submenu-el.disabled{
  opacity: 0.5;
  pointer-events: none;
}
