<html>
  <head>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/60814d807d.js" crossorigin="anonymous"></script>

  </head>
  <body>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'draw' %>
  </body>
</html>
